h2 {
	font-family: 'Cookie', cursive;
	font-size: 2.5em;
	color: #FBEEC1;
	text-align: center;
}

p.about {
	font-family: 'Raleway', sans-serif;
	color: #FBEEC1;
	font-size: 1em;
	text-align: center;
}

.row {
	margin-top: 3rem;
}

.fab {
	color: #FBEEC1;
}